body {
    background-color: #f0e3ca;
}

hr {
    border-style: dotted none none;
    border-color: grey;
    border-width: 7px;
    width: 5%;
}

h1 {
    color: #ff6701;
}

h3 {
    color: #ff6701;
}