/* TAG Selector */

body {
  background-color: #f0e3ca;
}

hr {
  border-style: dotted none none;
  border-color: grey;
  border-width: 7px;
  width: 5%;
}

h1 {
  color: #ff6701;
}

h3 {
  color: #ff6701;
}

/* Class Selector
you can put multiple class in a tag
*/

.avatar {
  height: 240px;
}

.avatar:hover {
  border-radius: 100%;
}

.circular {
    
}

/* ID Selector use 

You can only have 1 unique ID in a single html page

*/

#heading {
  color: hotpink;
}
